body {
    font-family: "Tahoma", serif;
}

div.section1 {
    background: url("assets/dark_valley-wallpaper-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

div.section2 {
    background-color: #E1E1E1;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

div.section3 {
    background: url("assets/team_photo_dark.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

/*http://www.w3schools.com/css/css3_flexbox.asp*/
/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
div.overview-flex {
    background-color: rgba(0, 0, 0, 0.6);
    height: 75%;
    width: 70%;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    top: 10%;
    bottom: 15%;
    left: 15%;
    right: 15%;
}

div.about-me-flex {
    border: dashed;
    border-color: #606060;
    height: auto;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    top: 10%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    align-items: stretch;
}

div.history-flex {
    background-color: rgba(255, 255, 255, 0.5);
    height: 75%;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    top: 12%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    justify-content: center;
}

.artifact {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    width: 50%;
    height: inherit;
    text-align: left;
    flex-grow: 1;
    align-self: center;
}

.profile_photo {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    text-align: right;
    width: 100%;
    height: inherit;
    vertical-align: middle;
}

.info {
    width: 30%;
    height: inherit;
    text-align: left;
    margin-bottom: 5%;
    padding-left: 1%;
}

.job {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 10%;
    text-align: center;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

img {
    max-height: 337px;
}

.primary {
    color: #F3EEED;
}

.secondary {
    color: #CECECE;
}

.title {
    color: black;
}

.title-wide {
    width: 100%;
    color: black;
}

ul.dark {
    list-style: none;
    margin-left: -40px;
    color: black;
}

ul.light {
    list-style: none;
    margin-left: -40px;
    color: #CECECE;
}

/* http://www.w3schools.com/cssref/pr_list-style-type.asp */
li:before {
    content: "⌲";
    padding-right: 8px;
}

h1 {
    text-align: center;
}

/*http://stackoverflow.com/questions/5302304/aligning-html-elements-to-the-middle-of-the-parent-without-javascript*/

img.social {
    height: 30px;
    margin-right: 4px;
}