
body {
    background: url("assets/colorful-background.jpg");
}

.nav-bar-container {
    background-color: #ff0200;
    border: double;
    border-color: white;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: 56px;
    justify-content: center;
}

.nav-item {
    width: 15%;
    text-align: center;
    align-self: center;
}

a {
    font-weight: bold;
    font-family: "Century Schoolbook", serif;
}

a:link, a:visited {
    color: #05f33f;
}

a:hover, a:active {
    color: #ca02ce;
}

div.overview-flex {
    height: auto;
    width: 50%;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    left: 20%;
}

div.about-me-flex {
    border: dotted;
    border-color: #0e20ff;
    background-color: fuchsia;
    height: 150%;
    position: absolute;
    left: 5%;
    top: 100%;
    bottom: 10%;
    width: 80%;
    display: -webkit-flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse wrap;
}

div.history-flex {
    background-image: url("assets/space.jpg");
    height: auto;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    flex-flow: column;
    top: 1%;
    width: 30%;
    right: 0%;
    justify-content: flex-start;
}

.artifact {
    height: inherit;
    text-align: left;
    width: 30%;
    padding-left: 5%;
    flex-grow: 1;
    background-color: limegreen;
    z-index: 2;

}

.info {
    width: 30%;
    text-align: left;
    height: auto;
    border: dashed;
    border-color: #eff344;
}

.job {
    width: 50%;
    text-align: center;
    align-self: center;
    flex-grow: 1;
}

.profile_photo {
    text-align: center;
    width: 30%;
    height: 80%;
    vertical-align: middle;
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: #0e20ff;
    z-index: 5;

}

img {
    max-height: 250px;
    border-radius: 25%;
    right: 20%;
    margin-top: 10%;
}

.primary {
    color: white;
    font-weight: bolder;
}

.secondary {
    color: #ce05bd;
    font-weight: bolder;
}

p {
    font-size: x-large;
}

h5 {
    font-size: x-large;
}

.title {
    color: black;
}

.title-wide {
    width: 100%;
    color: black;
}

div.section2 {
    width: 80%;
    height: 400px;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

ul.dark {
    color: black;
    font-size: x-large;
}

ul.light {
    color: #ce05bd;
    font-size: x-large;
}

li:before {
    padding-right: 8px;
}

h1 {
    text-align: left;

}

img.social {
    height: 50px;
    left: 10%;
    top: 100%;
    margin-right: 40px;
    margin-top: 0;

}
